body {
    background-color: #f7f1e3;
    height: 750px;
}

header {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;

}

.headerBtn {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;


}

.headerBtn a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s ease;
}

.headerBtn a:hover {
    color: #cc8e35;
}

.pieBtn,
.barBtn,
.tableBtn {
    width: 150px;
    height: 150px;
    padding: 30px;
    margin: 20px 0 10px 100px;
    border-radius: 100%;

}

.pieBtn {
    background-color: #2F4F4F;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.7);
    border: none;
    transition: transform 0.3s ease; 
}

.pieBtn:hover {
    transform: scale(1.1);
}

.barBtn {
    background-color: #8395a7;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    border: none;
    transition: transform 0.3s ease; 
    
}

.barBtn:hover {
    transform: scale(1.1);
}

.tableBtn {
    background-color: #2d3436;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.7);
    border: none; 
    transition: transform 0.3s ease; 
}

.tableBtn:hover {
    transform: scale(1.1);
}

.containerBar {

    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.pieGraphInfo,
.barGraphInfo {
    display: flex;
    text-align: left;
    justify-content: center;
    width: 250px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartCard {
    width: 700px;
    height: 400px;
    background-color: #2F4F4F;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.chartBox {
    width: 90%;
    height: 355px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    
}


#barChartContainer {
    width: 800px;
    height: auto;
    /* Adjust height as needed */
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* Align bars to the bottom */
    background-color: #95a5a6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.containerTable {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: #95a5a6; */
    background-color: #2d3436;
    color: #ecf0f1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

#userTable thead {
    color: black;
}

table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination-btn {
    margin: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}


.pagination-btn:hover {
    color: #cc8e35;
}

#selectDesignation {
    font-weight: bold;
    border: none;
    background: none;
    font-family: sans-serif;
    font-size: medium;
    width: 120px;
    transition: color 0.3s ease;
}


#selectDesignation:hover {
    color: #cc8e35;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 580px) {

    header {
        margin-bottom: 10px;
    }

    .headerBtn a {
        margin-left: -10px;
        font-size: 20px;
        
    }

    .headerBtn {
        margin-right: 15px;
    }

    .pieBtn, .barBtn, .tableBtn {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        text-align: center;
    }

    .container, .containerBar {
        
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .chartCard {
        width: 300px;
        height: 300px;
        margin-top: 2em;
    }

    .chartBox {
        width: 250px;
        height: 250px;
    }

    .containerTable {
        width: 140%;
    }

    #selectDesignation option {
        position: absolute;
        font-size: small;
        margin-right: 200px;
    }
}

@media screen and (min-width: 581px) and (max-width:  992px) {

    .headerBtn a {
        margin-left: -10px;
    }

    .headerBtn {
        margin-right: 5px;
    }

    .pieBtn, .barBtn, .tableBtn {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        text-align: center;
    }

    .container, .containerBar {
        
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .chartCard {
        width: 500px;
        height: 400px;
        margin-top: 2em;
    }

}